.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}
.sidebar {
  height: calc(100vh - 90px);
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  box-shadow: 0 0 45px 0 rgb(0 0 0 / 60%);
  margin-top: 80px;
  margin-left: 20px;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background: linear-gradient(0deg, #ec250d 0, #fd5d93 100%);
}
