<div class="sidebar__logo">
  <a
    href="https://www.creative-tim.com/?ref=bda-sidebar-logo&_ga=2.112321540.146159850.1656570548-1722979847.1656570548"
    class="sidebar__logo-link"
    ><img
      src="../../../assets/ezgif.com-gif-maker.png"
      class="sidebar__logo-img"
    />
    <span class="sidebar__logo-title">Creative Team</span></a
  >
</div>
<div class="sidebar__wrapper">
  <ul class="sidebar__list">
    <li class="sidebar__list-item">
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        class="sidebar__list-link"
      >
        <mat-icon class="sidebar__icon"> pie_chart</mat-icon>Dashboard</a
      >
    </li>
    <li class="sidebar__list-item">
      <a
        routerLink="/icons"
        routerLinkActive="active"
        class="sidebar__list-link"
        ><mat-icon class="sidebar__icon"> bubble_chart</mat-icon>Icons</a
      >
    </li>
    <li class="sidebar__list-item">
      <a routerLink="/maps" class="sidebar__list-link" routerLinkActive="active"
        ><mat-icon class="sidebar__icon"> map</mat-icon>Maps</a
      >
    </li>
    <li class="sidebar__list-item">
      <a
        routerLink="/notifications"
        class="sidebar__list-link"
        routerLinkActive="active"
        ><mat-icon class="sidebar__icon">notifications_none</mat-icon
        >Notifications</a
      >
    </li>
    <li class="sidebar__list-item">
      <a routerLink="/user" routerLinkActive="active" class="sidebar__list-link"
        ><mat-icon class="sidebar__icon">account_circle</mat-icon>User
        profile</a
      >
    </li>
    <li class="sidebar__list-item">
      <a
        routerLink="/table"
        routerLinkActive="active"
        class="sidebar__list-link"
      >
        <mat-icon class="sidebar__icon"> table_chart</mat-icon>Table list</a
      >
    </li>
    <li class="sidebar__list-item">
      <a
        routerLink="/typography"
        routerLinkActive="active"
        class="sidebar__list-link"
      >
        <mat-icon class="sidebar__icon"> format_align_center</mat-icon
        >Typography</a
      >
    </li>
  </ul>
</div>
